<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.office.wx.db.mapper.TbItemCollectionMapper">
  <resultMap id="BaseResultMap" type="com.example.office.wx.db.pojo.TbItemCollection">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ITEM_NAME" jdbcType="INTEGER" property="itemName" />
    <result column="COUNT" jdbcType="INTEGER" property="count" />
    <result column="USE" jdbcType="VARCHAR" property="use" />
    <result column="RECEIVERS" jdbcType="OTHER" property="receivers" />
    <result column="HANDLE_ID" jdbcType="INTEGER" property="handleId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ITEM_NAME, `COUNT`, `USE`, RECEIVERS, HANDLE_ID, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_item_collection
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_item_collection
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.example.office.wx.db.pojo.TbItemCollection" useGeneratedKeys="true">
    insert into tb_item_collection (ITEM_NAME, `COUNT`, `USE`, 
      RECEIVERS, HANDLE_ID, CREATE_TIME
      )
    values (#{itemName,jdbcType=INTEGER}, #{count,jdbcType=INTEGER}, #{use,jdbcType=VARCHAR}, 
      #{receivers,jdbcType=OTHER}, #{handleId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.example.office.wx.db.pojo.TbItemCollection" useGeneratedKeys="true">
    insert into tb_item_collection
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemName != null">
        ITEM_NAME,
      </if>
      <if test="count != null">
        `COUNT`,
      </if>
      <if test="use != null">
        `USE`,
      </if>
      <if test="receivers != null">
        RECEIVERS,
      </if>
      <if test="handleId != null">
        HANDLE_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemName != null">
        #{itemName,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="use != null">
        #{use,jdbcType=VARCHAR},
      </if>
      <if test="receivers != null">
        #{receivers,jdbcType=OTHER},
      </if>
      <if test="handleId != null">
        #{handleId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.office.wx.db.pojo.TbItemCollection">
    update tb_item_collection
    <set>
      <if test="itemName != null">
        ITEM_NAME = #{itemName,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        `COUNT` = #{count,jdbcType=INTEGER},
      </if>
      <if test="use != null">
        `USE` = #{use,jdbcType=VARCHAR},
      </if>
      <if test="receivers != null">
        RECEIVERS = #{receivers,jdbcType=OTHER},
      </if>
      <if test="handleId != null">
        HANDLE_ID = #{handleId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.office.wx.db.pojo.TbItemCollection">
    update tb_item_collection
    set ITEM_NAME = #{itemName,jdbcType=INTEGER},
      `COUNT` = #{count,jdbcType=INTEGER},
      `USE` = #{use,jdbcType=VARCHAR},
      RECEIVERS = #{receivers,jdbcType=OTHER},
      HANDLE_ID = #{handleId,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <select id="getItemCollectionList" parameterType="map" resultType="java.util.HashMap">
        SELECT
        s.*,
        GROUP_CONCAT( u2.name ) as receiverNames
        FROM
        tb_item_collection AS tc
        LEFT JOIN tb_assets AS s ON tc.ITEM_NAME = s.id
        LEFT JOIN tb_user u2 ON JSON_CONTAINS(tc.RECEIVERS, (CAST(u2.id AS CHAR)))
        WHERE
        1 = 1
        group by tc.ID
        ORDER BY tc.CREATE_TIME DESC
        LIMIT #{start},#{length}
    </select>
</mapper>