<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.office.wx.db.mapper.TbRoleMapper">
  <resultMap id="BaseResultMap" type="com.example.office.wx.db.pojo.TbRole">
    <!--@mbg.generated-->
    <!--@Table tb_role-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="permissions" jdbcType="VARCHAR" property="permissions" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, role_name, permissions
  </sql>
  <insert id="addRole" parameterType="com.example.office.wx.db.pojo.TbRole">
    insert into tb_role
    set role_name=#{roleName},permissions=#{permissions}
  </insert>
  <update id="updateRolePermissions" parameterType="com.example.office.wx.db.pojo.TbRole">
    UPDATE tb_role
    SET permissions=#{permissions}
    WHERE id=#{id}
  </update>
  <select id="searchAllRole" resultType="com.example.office.wx.db.pojo.TbRole">
    SELECT id, role_name FROM tb_role ORDER BY id;
  </select>
  <select id="searchRoleUsersCount" parameterType="int" resultType="long">
    SELECT COUNT(*) AS count
    FROM tb_user u
      JOIN tb_role r ON JSON_CONTAINS(u.role, CAST(r.id AS CHAR))
    WHERE r.id=#{id};
  </select>
  <delete id="deleteRoleById" parameterType="int">
    DELETE FROM tb_role WHERE id=#{id}
  </delete>

</mapper>